<%- include("partials/header") -%>
<h1><%= head %></h1>
<p><%= content %></p>

<% if (option=== 1) { %>  
<% post.forEach(function (element){ %>
<h1><%= element.date %> </h1>
<p><%= element.topic %></p>
<a class="rm" href="/remove/<%= element.Topic %>">Remove</a>
<% });%>

<%} else { %>
<% post.forEach(function (element){ %>
<h1><%= element.date %> </h1>
<p><%= element.Topic %>  <a href="/posts/<%= element.Topic %>">open</a></p>
<% });%>
<% } %>



<%- include("partials/footer") -%>