<%- include("partials/header")-%>

<h1><%= date%> </h1>
<div>
    <label><strong>TOPIC </strong></label>
    <p><%= topic %> </p>
</div>
<div>
    <label><strong>Attendees </strong></label>
    <p><%= attendees %> </p>
</div>
<div>
    <label><strong>Time </strong></label>
    <p><%= time %> </p>
</div>

<div>
    <label><strong>Decision's made </strong></label>
    <p><%= decision %> </p>
</div>
<div>
    <label><strong>Task for next week </strong></label>
    <p><%= nweek %> </p>
</div>
<div>
    <label><strong>Next meeting </strong></label>
    <p><%= meet %> </p>
</div>
<div>
    <label><strong>Extra notes</strong></label>
    <p><%= post %> </p>
</div>


<%- include("partials/footer") -%> 